.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: lightblue;
    border-radius: 15px;
    margin: 3px;
    span {
        margin: 10px 0;
        font-family: Roboto;
    }
}
